<div class="language-switch-container" data-controller="language-toggle">
  <label class="switch" id="language-toggle">
    <input type="checkbox" data-language-toggle-target="toggle" data-action="change->language-toggle#toggleLanguage">
    <span class="slider round"></span>
  </label>
</div>
