<div></div>

<div class="home-page-btn-container">
<div class="home-page-btn-div">
<%= link_to 'Language Education', pages_language_learning_path, class: "home-page-btn", style: " --button-bg: url('#{asset_path('classroom-stockimage.jpg')}');" %>
</div>
<div class="home-page-btn-div">
<%= link_to 'Websites and Programming', pages_programming_services_path, class: "home-page-btn" %>
</div>
</div>
