<div></div>

<div>
<div class="home-page-category">
<div><%= link_to 'Language Education', pages_language_learning_path, class: "" %></div>
</div>
<div class="home-page-category">
<div><%= link_to 'Websites and Programming', pages_programming_services_path, class: "" %></div>
</div>
</div>
