<div class="language-switch-container">
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<h1><%= translate ".home_welcome" %></h1>

<div class="home-page-btn-container">
<div class="home-page-btn-div">
<%= link_to t('.home_language_btn'), pages_language_learning_path, class: "home-page-btn", style: "background-image: url(#{asset_path('classroom-stockimage.jpg')});" %>
</div>
<div class="home-page-btn-div">
<%= link_to t('.home_programming_btn'), pages_programming_services_path, class: "home-page-btn", style: "background-image: url(#{asset_path('coding-background-image.png')});" %>
</div>
</div>
